:root {
    --page-title-color: white;
    --page-bg-color: #f2b26d;
    --page-bg-color-darker: #e79032;
    --page-bg-color-darker-2: #ca7922;
    --page-rom-patcher-link-color: ;
}

#rom-patcher-container {
    width: 100%;
    padding: 30px;
    border-radius: 20px;
}

#rom-patcher-container button {
    background-color: var(--page-bg-color-darker);
    font-weight: bold;
}

#rom-patcher-container button:not(:disabled):hover {
    background-color: var(--page-bg-color-darker-2);
}

.base-rom {
    padding-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-image: url(./assets/bg.png);
    background-attachment: fixed;
    background-blend-mode: multiply;
    image-rendering: pixelated;
    background-size: cover;
}

a {
    color: var(--page-bg-color-darker);
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}