:root {
    --page-title-color: white;
    --page-bg-light: #ffe7c1;
    --page-bg-color: #f2b26d;
    --page-bg-color-darker: #e79032;
    --page-bg-color-darker-2: #ca7922;
    --page-rom-patcher-link-color: ;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0;
}

ul {
    line-height: 2em;
    margin-top: 0;
    margin-bottom: 10px;
}

.block {
    width: 100%;
    max-width: 640px;
    padding: 30px !important;
    border-radius: 20px !important;
    background-color: white;
}

.block button {
    background-color: var(--page-bg-color-darker) !important;
    font-weight: bold;
}

.block button:not(:disabled):hover {
    background-color: var(--page-bg-color-darker-2) !important;
}

.base-rom {
    padding-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10px;
    color: black !important;
    background-image: url(./assets/bg.png);
    background-attachment: fixed;
    background-blend-mode: multiply;
    image-rendering: pixelated;
    background-size: cover;
}

a {
    color: var(--page-bg-color-darker);
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: var(--page-bg-color-darker-2);
}

h4 {
    color: rgb(64, 64, 64);
    padding-left: 15px;
}

.contribution-detail {
    color: grey;
}

#credits {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#credits .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    padding: 30px;
}

.block-title {
    width: 100%;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--page-bg-color-darker-2);
    background: var(--page-bg-light);
}